<div class="top-contents">
  <div class="chat-name">
    <a href="#">hogefuga</a>
  </diV>
  <div class="chat-finish">
    <a href="#">チャットを終了する</a>
  </diV>
</div>
<diV class="chat-room">
  <diV class="messages">
    <div class="chat-message">
      <div class="chat-user">
        Tom
      </diV>
      <div class="chat-time">
        2020/3/31(Wed) 12:43:30
      </diV>
    </diV>
    <div class="lower-message">
      <diV class="message">
        おはよう
      </diV>
    </diV>
 </diV>
</diV>
<div class="form">
  <div class="form-input">
    <input class="text" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </diV>
  <input class="bottum" type="submit" value="送信">
</diV>