  <diV class="messages">
    <div class="chat-message">
      <div class="chat-user">
        <%= message.user.name %>
      </diV>
      <div class="chat-time">
        <%= message.created_at %>
      </diV>
    </diV>
    <div class="lower-message">
      <diV class="message">
        <%= message.content %>
      </diV>
    </diV>
 </diV>