.wrapper{
  display: flex;
}
.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
  
}
.left-content{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.contents a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.chat-make a{
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  text-decoration: none;

}

.user-name{
  font-size: 16px;
  color: #fafafa;
}

.rooms{
  height: calc(100vh - 100px);
  background-color: #273E51;
  padding: 0 20px;
  overflow: scroll;
}
.room{
  padding: 20px 0 40px;
}
.room-name a{
  color: white;
  text-decoration: none;
  
}
.main-chat{
  width: calc(100vw - 300px);
  background-color: #ffffff;
}
.top-contents{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-name a{
  font-size: 24px;
  color: #333;
  text-decoration: none;
  padding-top: 36px;
}
.chat-finish a{
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
}
.chat-room{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding:46px 40px 0 40px;
  overflow: scroll;
}
.messages{
  margin: 10px 0 0 0;
}
.chat-message{
  display: flex;
}
.chat-user{
  font-size: 16px;
  color: #434A54;
}
.chat-time{
  font-size: 12px;
  padding-left: 10px;
  color: #999;
}
.lower-message {
  margin-top: 10px;
}
.message{
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}
.form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}
.form-input{
  background-color: white;
  width: 100%;
  display: flex;
}
.text{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.bottum{
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
  padding: 0 20px;
  text-decoration: none;
  height: 50px;
  margin-left: 15px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}
.field_with_errors {
  display: contents;
}